.input > input {
    background-color: rgba(34,36,38,.15);
}

.register-message {
    text-align: center;
    margin-top: 35px;
    font-size: 18px;
}

.active-route {
    width: auto;
    border-bottom: 2px solid white;
    background: white;
    border-radius: 81px;
    padding: 4px 20px;
}
